{% extends "base.html" %}

{% block sidebar %}
<div class="sidebar">
    <div class="list-group">
        <a href="{% url 'sales:sale-list' %}" class="list-group-item list-group-item-action">
            <i class="fas fa-list me-2"></i> قائمة الفواتير
        </a>
        <a href="{% url 'sales:sale-create' %}" class="list-group-item list-group-item-action">
            <i class="fas fa-plus-circle me-2"></i> فاتورة جديدة
        </a>
        <a href="{% url 'sales:return-list' %}" class="list-group-item list-group-item-action">
            <i class="fas fa-undo me-2"></i> قائمة المرتجعات
        </a>
        <a href="#" class="list-group-item list-group-item-action">
            <i class="fas fa-chart-bar me-2"></i> التقارير
        </a>
    </div>
</div>
{% endblock %}